@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #3494e4;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3494e4;
    color: white;
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3494e4;
}

article {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

article p {
    color: white;
    display: block;
    text-align: center;
}

.tank {
    width: 140px;
    height: 320px;
    border: 4px solid #144fc6;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.blue {
    background-color: #144fc6;
    color: white;
    position: absolute;
    bottom: 0;
    height: 0%;
    border: none;
    transition: 0.5s ease-in-out;
}

.grid {
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 10px;
}

.drink {
    width: 50px;
    height: 95px;
    background-color: #fff;
    border: 4px solid #144fc6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.background {
    background-color: #144fc6;
    color: white;
}

@media screen and (max-width: 768px) {
    main {
        align-items: flex-start;
    }

    article {
        height: auto;
        padding: 40px 0;
    }

    article p {
        margin-bottom: 10px;
    }

    .drink {
        width: 50px;
        height: 70px;
    }

    .grid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}

@media screen and (max-width: 376px) {
    body {
        height: auto;
    }

    main {
        flex-direction: column;
        height: auto;
    }

    article {
        width: 100%;
        padding: 0 0;
        margin-bottom: 30px;
    }
}